.card_container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: auto;
  width: 50vw;
  background-color: black !important;
  border:  1px solid lightgray !important;
}

.card_logo {
  width: 300px;
  margin: auto;
}

.top h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
}

.top {
  margin-top: 25px;
}

.form_container {
  margin: 20px 0px;
}

.form_container input {
  margin: 15px 0px;
  padding: 25px;
  background-color: transparent;
  color: #fff;
}

.btn {
  width: 100%;
  margin-top: 20px;
  padding: 28px;
  background-color: rgb(255, 97, 12) !important;
  color: #fff !important;
  font-size: 1.6rem !important;
  letter-spacing: 1px !important;
}

.text{
    font-size: 1.2rem;
    color: #fff;
}

.text span{
    font-weight: bold;
    cursor: pointer;
}

.text_danger{
  color: red !important;
}